{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block homeactive %} active {% endblock %}
{% load static %}
{% block css %}
    <style>
        
        body {
            background-color: #f8f9fa;
            
        }
    
        .header {
            position: relative; 
            display: flex; 
            justify-content: center; 
            align-items: center;
            height: 300px; 
        }

    
    </style>
{% endblock %}

{% block body %}
    <div class="container my-2">
        <!-- Alert Button For Showing the Messages-->
        {% if messages %} <!-- main condition-->
            {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" {% endif %}>
                        <strong>Hello!</strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
            {% endfor %}
        {% endif %} <!-- END main condition-->
    </div>
<!--     {% if request.session.is_author %}
    <h2>You are Author</h2>
    {% endif %} -->
    <div class="header container  my-4">
        <img src="{% static 'home/welcome.png' %}" alt="Welcome Image"  style="height: 95%; width: 65%;">
    </div>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <p style="text-align: justify;">Dive into a world of knowledge and inspiration as you explore our collection of insightful
                    articles, captivating stories, and practical tips covering a wide range of topics. From the latest trends in
                    technology to wanderlust-inducing travel experiences, from wellness and lifestyle advice to creative pursuits
                    and beyond, there's something here for everyone. Whether you're seeking guidance, entertainment, or simply a
                    moment of inspiration, we've curated a diverse array of content to spark your curiosity and enrich your life.
                    Join us on this journey of exploration and discovery - your next adventure awaits!</p>
                <a href="/blog" class="btn btn-primary btn-lg">Get Started</a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-8">
                <h3>Latest Blogs</h3>
                <ul class="list-group">
                    {% for blog in latest_blog %}
                        <li class="list-group-item"><a style="text-decoration: none; color: black;" href="blog/{{blog.slug}}">{{blog.title}}</a></li>
                    {% endfor %}
                    
                </ul>
            </div>
            
            <div class="col-md-4">
                <h3>Subscribe</h3>
                <p>Subscribe to our newsletter to receive updates on new articles and stories.</p>
                <form>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    
    


{% endblock %}