{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}
{% load static %}

{% block css %}
<style>
    body {
        background-image: url("{% static 'home/b1.jpg' %}");
    }
</style>
{% endblock %}

{% block body %}
<div class="container  my-4">

    <!-- Alert Button For Showing the Messages-->
    {% if messages %} <!-- main condition-->
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" {% endif %}>
                 {{ message }}
            </div>
        {% endfor %}
    {% endif %} <!-- END main condition--> 


    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 card bg-light rounded shadow-lg">
            <h2 class="border-bottom my-2 mb-2" style="text-align: center;">Set New Password</h2>

            <form method="post">
                {% csrf_token %}
                <div class="my-4 ms-2">

                    <!-- Error Message -->
                    {% if fm.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ fm.non_field_errors }}
                    </div>
                    {% endif %}
                    <!-- Error Message End-->

                    <!-- Password Change Rules -->
                    <div id="myDiv" class="mb-4">
                        {% for field in fm %}
                            {{ field.help_text }}
                        {% endfor %}
                    </div>
                    <!-- Password Change Rules End-->

                    <!-- Show The Field, Error Message  -->
                    {% for field in fm %}
                        <div id="outerDiv">
                            <div class="mb-3 input-group" id="show_hide_password-{{forloop.counter}}">
                                {{ field.label_tag }}
                                {{ field }}
                                <div class="input-group-text">
                                    <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                </div>
                                {% if field.errors %}
                                    <div class="container alert alert-danger rounded my-2 mb-2" role="alert">
                                        {{field.errors}}
                                    </div>
                                {% endif %}
                            </div>
                        </div>                       
                    {% endfor %}
                    <!-- Show The Field, Error Message End -->
                </div>
                <button type="submit" class="btn btn-primary ms-2 mb-4">Submit</button>
            </form>

        </div>

        <div class="col-md-3"></div>
    </div>

</div>
{% endblock %}

{% block script %}
<script>

    //Password Hide And Show
        $(document).ready(function () {
            for (let i = 1; i <= 3; i++) {
                $("#show_hide_password-" + i + " a").on('click', function (event) {
                    event.preventDefault();
                    if ($('#show_hide_password-' + i + ' input').attr("type") == "text") {
                        $('#show_hide_password-' + i + ' input').attr('type', 'password');
                        $('#show_hide_password-' + i + ' i').addClass("fa-eye-slash").removeClass("fa-eye");
                    } else if ($('#show_hide_password-' + i + ' input').attr("type") == "password") {
                        $('#show_hide_password-' + i + ' input').attr('type', 'text');
                        $('#show_hide_password-' + i + ' i').removeClass("fa-eye-slash").addClass("fa-eye");
                    }
                });
            }
        });

    // For Modify The Input Field and The Form Using JS Script

    // Get the <ul> element under the specified <div>
    var ulElement = document.querySelector("#myDiv ul");

    // Add a class to the <ul> element
    ulElement.classList.add("list-group");

    // Get all <li> elements under the specified <div>
    var liElements = document.querySelectorAll("#myDiv li");

    // Loop through each <li> element and add a class
    liElements.forEach(function (li) {
        li.classList.add("list-group-item");
        li.classList.add("list-group-item-info");
    });

    // Get all <label> elements under the specified <div>
    var labelElements = document.querySelectorAll("#outerDiv label");

    // Loop through each <label> element and add a class
    labelElements.forEach(function (label) {
        label.classList.add("input-group-text");
    });
</script>
{% endblock %}


{% block footer %} {% endblock %}