{% autoescape off %}
Hello {{ name }},

We've received a request to reset the password for your account associated with this email address. To proceed with resetting your password, please click the link below:

Password Reset Link: {{ protocol }}://{{ domain }}{% url 'ResetPasswordConfirm' uidb64=uid token=token %}

Please note that this link can only be used once. If you require another password reset, kindly visit {{ protocol }}://{{ domain }}{% url 'ResetPasswordRequest' %} and initiate another reset request.

In Case, You Forget Your Username, Here It is : {{ username }}

If you did not initiate this password reset request, you can disregard this email.

Happy blogging!

Warm regards,
Pankaj Kumar Das
Developer
BlogSphere Team

{% endautoescape %}