{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}
{% load static %}

{% block css %}
    <style>
        body {
            background-image: url("{% static 'home/b1.jpg' %}");
        }
    </style>
{% endblock %}

{% block body %}
<div class="container  my-4">
    
    
    <div class="row" >
        <div class="col-md-3"></div>
        
            <div class="col-md-6 card bg-light rounded shadow-lg">
                <h2 class="border-bottom my-2 mb-2" style="text-align: center;">Change Your Password</h2>

                <!-- Another Appraoch -->
                <!-- <form action="/password_change/" method="post">{% csrf_token %}

                    {% for error in form.non_field_errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Hello</strong> {{error}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}

                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label }}
                            {{ field}}
                        </div>

                        {% if field.errors %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{field.errors}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <button type="submit" class="btn btn-primary ms-2 mb-2">Change</button>

                </form> -->

                <!-- {{form}} -->
                <!-- <form method="post">{% csrf_token %}
                    <div class="my-4 ms-2">
                        {{fm.as_p}}
                    </div>
                    <button type="submit" class="btn btn-primary ms-2 mb-2">Change</button>
                </form> -->
                <!-- Another Appraoch End-->

                <form method="post">
                    {% csrf_token %}
                    <div class="my-4 ms-2">

                        <!-- Error Message -->
                        {% if fm.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ fm.non_field_errors }}
                            </div>
                        {% endif %}
                        <!-- Error Message End-->

                        <!-- Password Change Rules -->
                        <div id="myDiv" class="mb-4">                           
                                {% for field in fm %}
                                    {{ field.help_text }}
                                {% endfor %}
                        </div>
                        <!-- Password Change Rules End-->

                        <!-- Show The Field, Error Message  -->                
                        {% for field in fm %}
                            <div class="mb-3 input-group" id="outerDiv">
                                {{ field.label_tag }}
                                    {{ field }}
                                {% if field.errors %}
                                <div class="container alert alert-danger rounded my-2 mb-2" role="alert">
                                    {{field.errors}}
                                </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <!-- Show The Field, Error Message End -->
                    </div>
                    <button type="submit" class="btn btn-primary ms-2 mb-4">Change</button>
                </form>
                
            </div>

        <div class="col-md-3"></div>
    </div>
    
</div>
{% endblock %}

{% block script %}
    <script>

        // For Modify The Input Field and The Form Using JS Script

        // Get the <ul> element under the specified <div>
        var ulElement = document.querySelector("#myDiv ul");

        // Add a class to the <ul> element
        ulElement.classList.add("list-group");

        // Get all <li> elements under the specified <div>
        var liElements = document.querySelectorAll("#myDiv li");

        // Loop through each <li> element and add a class
        liElements.forEach(function (li) {
            li.classList.add("list-group-item");
            li.classList.add("list-group-item-info");
        });

        // Get all <label> elements under the specified <div>
        var labelElements = document.querySelectorAll("#outerDiv label");

        // Loop through each <label> element and add a class
        labelElements.forEach(function (label) {
            label.classList.add("input-group-text");
        });
    </script>
{% endblock %}


{% block footer %} {% endblock %}