{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}
{% load static %}

{% block css %}
<style>
    body {
        background-image: url("{% static 'home/b1.jpg' %}");
    }
</style>
{% endblock %}

{% block body %}
    <div class="container my-4">


        <div class="row">
            
            <!-- Unused Column Section -->
            <div class="col-md-3"></div>
        
            <div class="col-md-6 card bg-light rounded shadow-lg">
                <h2 class="border-bottom my-2 mb-2" style="text-align: center;">Reset Password</h2>

                <div class="alert alert-info" >
                    <p><b>Forgotten Your Password? <span class="text-success">No worries!</span></b> Just Drop Your Email Below We will Email Instruction For Setting A New One.</p>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <div class="my-4 ms-2">
        
                        <!-- Show The Field  -->
                        {% for field in fm %}
                        <div class="mb-3 input-group" id="outerDiv">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% endfor %}
                        <!-- Show The Field End -->
                    </div>
                    <button type="submit" class="btn btn-primary ms-2 mb-4">Reset Request</button>
                </form>
        
            </div>

            <!-- Unused Column Section -->
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>

        // Get all <label> elements under the specified <div>
        var labelElements = document.querySelectorAll("#outerDiv label");

        // Loop through each <label> element and add a class
        labelElements.forEach(function (label) {
            label.classList.add("input-group-text");
        });
    </script>
{% endblock %}


{% block footer %} {% endblock %}