{% extends 'base.html' %}

{% block title %} Admin-User's Query {% endblock %}

{% block superactive %} active {% endblock %}
{% load humanize %}

{% load static %}
{% block css %}
<style>
    body {
        background-image: url("{% static 'home/b1.jpg' %}");
    }
</style>
{% endblock %}



{% block body %}




<div class="container my-4">

    <!-- Alert Button For Showing the Messages-->
    {% if messages %} <!-- main condition-->
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" {% endif %}>
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %} <!-- END main condition-->

    <div class="row">
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <h2 class="border-bottom">User's Query</h2>
            {% if users_query %}
            <table class="table table-hover table-borderless  ">
                <thead>
                    <tr>
                        <th scope="col">#Sno</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Time</th>
                        <th scope="col">Message</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for users_query in users_query %}
                    <tr>
                        <th scope="row">{{users_query.sno}}</th>
                        <td>{{users_query.name}}</td>
                        <td>{{users_query.phone}}</td>
                        <td>{{users_query.email}}</td>
                        <td>{{users_query.timeStamp|naturaltime}}</td>
                        <td><button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop-users-query-{{users_query.sno}}">Show Query</button></td>
                        
                        <td><button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop-sent-reply-{{users_query.sno}}">Reply</button>
                        </td>
                    </tr>
                    <!-- Show User Query Modal -->
                    <div class="modal fade " id="staticBackdrop-users-query-{{users_query.sno}}" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop-about-author" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdrop-users-query-{{users_query.sno}}">User's Message</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{users_query.content}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Show User Query Modal -->
                    <!--  Sent Reply Modal -->
                    <div class="modal fade " id="staticBackdrop-sent-reply-{{users_query.sno}}" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop-sent-reply-{{users_query.sno}}"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdrop-reject-{{author_request.ar_no}}">Sent Reply</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="/users_query/" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
        
                                        <input type="hidden" name="user_name" value="{{users_query.name}}">
                                        <input type="hidden" name="user_email" value="{{users_query.email}}">
                                        <input type="hidden" name="query_sno" value="{{users_query.sno}}">
        
                                        <div class="mb-3">
                                            <label for="sent_reply" class="form-label">Reply Message</label>
                                            <textarea name="reply_message" class="form-control" id="sent_reply" rows="3"
                                                required></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
        
                                        <button name="reply-button" type="submit" class="btn btn-success">Reply</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End Reject Modal -->
                    
        
                        {% endfor %}
        
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-warning" role="alert">
                No, Pending User's Query.
            </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}

<!-- For just Remove the Footer -->
{% block footer %} {% endblock %}